.container {
    background-color: antiquewhite;
    text-align: center;
    font-weight: bold;
}

// 00.00.00 날짜값 스타일링
.txt-date{
    font-size: 30px;
    margin-bottom: 8px;
}

// MON, TUE와 같은 요일 스타일링
.txt-day{
    font-size: 17px;
}